{% extends "_base.html" %}

{% block conteudo %}


{% set tipo = {
'salario': 'Salário',
'renda_extra': 'Renda Extra',
'freelance': 'Freelance',
'investimento': 'Investimento',
'resgate': 'Resgate',
'alimentacao': 'Alimentação',
'moradia': 'Moradia',
'transporte': 'Transporte',
'saude': 'Saúde',
'educacao': 'Educação',
'lazer': 'Lazer',
'vestuario': 'Vestuário',
'contas': 'Contas e Utilidades',
'assinaturas': 'Assinaturas',
'cartao_credito': 'Cartão de Crédito',
'transferencia': 'Transferência',
'outros': 'Outros',
} %}


{% endblock %}